.cgb-settings {
	padding: 0 10px;
}

.section-desc {
	padding: 1em 0 2em 15px;
}

.form-table th, .form-table td {
	vertical-align: top;
	padding: 15px 10px 15px 0;
}

fieldset label {
	line-height: 1em !important;
}

code {
	font-size: 12px;
}
